{{!< default}}

<div class="container index-container">
	<div class="main-text">
		<p>SAY THIS:</p>
		<p id="word">{{ word.name }}</p>
	</div>
	<div class="secondary-text">
		<p id="definition">{{ word.definition }}</p>
	</div>
</div>
