{{!< default}}

<div class="container">
	{{!-- Leaderboard --}}
	<h1>Leaderboard</h1>

	{{#each leaderboard}}
	<div class="leaderboard-item">
		<span class="leaderboard-item-rank">{{inc @index}}</span>
		
		<span class="leaderboard-item-name">{{user.name.first}} {{user.name.last}}</span>
		
		<span class="leaderboard-item-score">{{score}}</span>
	</div>
	{{/each}}
</div>
