.index-container {
    font-size: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60vh;
    width: 100vw;
    padding-left: 30px;
    padding-right: 30px;
    word-wrap: break-word;
    hyphens: auto;
    margin-top: 40px;
}

#word {
    margin-top: 20px;
    font-size: 40px;
    text-transform: uppercase;
}