.leaderboard-item {
	display: flex;
	font-size: 1.5rem;
	border-bottom: 1px solid white;

	&:nth-child(2) &-rank { color: @gold; }
	&:nth-child(3) &-rank { color: @silver; }
	&:nth-child(4) &-rank { color: @bronze; }

	&-rank {
		display: inline-block;
		font-weight: bold;
		padding: 10px;
	}

	&-name {
		display: inline-block;
		padding: 10px;
		flex-grow: 1;
	}

	&-score {
		display: inline-block;
		padding: 10px;
	}
}
