#nav-bar {
	position: fixed;
	left: 0;
	right: 0;
    bottom: 0;
    width: 100vw;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
}

.nav-bar-item {
    flex-grow: 1;
    color: white;
    text-align: center;
    font-size: 30px;
    background: #0068bd;
    padding: 10px;
}

.nav-bar-item[data-active] {
	background: #005194;
}

.nav-bar-item-clickable[data-active] {
    font-size: 100px;
    flex-grow: 2;
    border-radius: 50% 50% 0px 0px;
    padding-top: 25px;
}

a.nav-bar-item:hover,
a.nav-bar-item:focus,
a.nav-bar-item:hover[data-active],
a.nav-bar-item:focus[data-active] {
    color: grey;
	text-decoration: none;
	cursor: pointer;
	outline: none;
}

#record {
	transition: 0.5s all ease-in-out;

	.fa-microphone { display: inline; }
	.fa-dot-circle { display: none; }

	&.recording {
		color: tomato;
		padding-left: 30px;
		padding-right: 30px;
		animation: 1s breathing infinite;

		.fa-microphone { display: none; }
		.fa-dot-circle { display: inline; }
	}
}

@keyframes breathing {
	0% { font-size: 100px; }
	50% { font-size: 110px; }
	100% { font-size: 100px; }
}
