body {
    background: #008cff;
}

#top-bar {
    display: flex;
}

.top-bar-item {
    flex-grow: 1;
    color: white;
    padding: 10px;
    background: #0068bd;
}

#current-rank {
    text-align: center;
}

#countdown {
    text-align: right;
}